.presentation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    .sophieBluelPicture {
        width: 45%;
       img {
        width: 100%;
        }
        .fictivModify {
            display: none;
            svg {
                width: 15px;
            }
            &.adminMode {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 15.5%;
                color: black;
                margin-top: -11px;
            } 
        } 
    }
    .description {
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: #1D6154;
            font-family: 'Syne';
        }
        &.adminMode {
        justify-content: start;
        margin-top: 30px;
        }
    }
}